<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory name="UnitTest">
    <property name="dialect">NHibernate.Dialect.PostgreSQL83Dialect</property>
    <property name="connection.connection_string">User ID=postgres;Password=1;Host=localhost;Port=5432;Database=postgres;Pooling=true;Minimum Pool Size=5;Maximum Pool Size=100</property>
    <property name="adonet.batch_size">500</property>
    <property name="command_timeout">600</property>
    <property name="use_proxy_validator">false</property>
    <property name="show_sql">false</property>
    <property name="format_sql">false</property>
    <property name="track_session_id">true</property>
    <property name="current_session_context_class">thread_static</property>
    <property name="default_flush_mode">Commit</property>
    <property name="hbm2ddl.auto">create</property>
    <property name="cache.use_second_level_cache">false</property>
    <property name="cache.use_query_cache">false</property>
    <property name="default_batch_fetch_size">50</property>
  </session-factory>
  <!--<session-factory name="UnitTest">
    <property name="dialect">NHibernate.Dialect.Oracle10gDialect</property>
    <property name="connection.connection_string">data source = AKTIF_CRDDEV;user Id =OC_APP;Password=wcK_UDCBCH2#;persIst securIty Info = false;connectIon lIfetIme =0;enlIst =true;poolIng =true</property>
    <property name="adonet.batch_size">500</property>
    <property name="command_timeout">600</property>
    <property name="use_proxy_validator">false</property>
    <property name="show_sql">false</property>
    <property name="format_sql">false</property>
    <property name="track_session_id">true</property>
    <property name="current_session_context_class">thread_static</property>
    <property name="default_flush_mode">Commit</property>
    <property name="cache.use_second_level_cache">false</property>
    <property name="cache.use_query_cache">false</property>
    <property name="default_batch_fetch_size">50</property>
    <property name="connection.driver_class">NHibernate.Driver.OracleManagedDataClientDriver</property>
  </session-factory>-->
</hibernate-configuration>